<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/navbar :: common-navbar"/>-->

<head th:replace="common/header-sdi :: header-sdi" />

<body>
<div th:replace="common/navbar-sdi :: sdi-navbar"/>

    <div class="container" >
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="logo">
                <img src="../static/images/Logo_SDI.jpg" height="197" width="256"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2"></div>
        </div>
    </div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
